<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ViagensInterplanetariasDB" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=ViagensInterplanetarias; User=DESKTOP-FJTERH7\Fabio; Integrated Security=True;" providerName="System.Dat.SqlClient"/>
  </connectionStrings>
</configuration>